
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background: #f5f5f5;
  color: #333;
}


.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}


header {
  background: #d60000;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover,
nav a.ativo {
  color: #ffe5e5;
  text-decoration: underline;
}


.card {
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card h2 {
  color: #d60000;
  margin-bottom: 12px;
  border-left: 6px solid #d60000;
  padding-left: 10px;
}

.card p {
  margin-bottom: 20px;
  font-size: 17px;
  color: #333;
}


.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card img:hover {
  transform: scale(1.03);
}


footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}

footer a {
  color: #d60000;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    margin-bottom: 10px;
  }

  nav {
    margin: 10px 0;
  }
}

