/* HEADER */
header {
  background: #d60000;
  padding: 20px 0;
  color: white;
}

.container-header {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover,
nav a.ativo {
  color: #ffe5e5;
  text-decoration: underline;
}


/* CONTEÚDO PRINCIPAL */
.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

/* CARDS */
.card {
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* TÍTULOS */
h2 {
  color: #d60000;
  margin-bottom: 12px;
  border-left: 6px solid #d60000;
  padding-left: 10px;
}

/* IMAGEM DESTAQUE */
.img-destaque {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.img-destaque:hover {
  transform: scale(1.03);
}


/* LISTAS */
.card ul {
  list-style: disc;
  margin-left: 25px;
  line-height: 1.8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}


