
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
  line-height: 1.6;
}


header {
  background: #d60000;
  color: white;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container-header {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
}


nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover,
nav a.ativo {
  color: #ffe5e5;
  text-decoration: underline;
}


.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}


.card {
  background: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


h2 {
  color: #d60000;
  margin-bottom: 12px;
  border-left: 6px solid #d60000;
  padding-left: 10px;
}


.produtos-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 750px) {
  .produtos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.produto h3 {
  margin-top: 15px;
  color: #d60000;
  font-size: 20px;
}

.img-produto {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.img-produto:hover {
  transform: scale(1.05);
}


footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
  font-size: 14px;
}

